.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 2em 0 6em 0;
  font-family: Arial, sans-serif;
}

.login-screen h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.login-screen h2 {
  margin-bottom: 20px;
  font-size: 19px;
  color: #606060;
}

.login-form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 1em;
}
.login-form > div{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.login-screen button[type="button"] {
  margin-top: 20px;
  background-color: #6c757d;
}

.login-screen button[type="button"]:hover {
  background-color: #5a6268;
}
